{% extends "base.html" %}

{% load static %}

{% block title %}
	{{ block.super }}
{% endblock title %}


{% block main %}
<section class="about_hero bgimage">
	<div class="bg_image_holder" style="background-image: url({% static "img/about_hero.jpg" %}); opacity: 1;">
		<img src="{% static "img/about_hero.jpg" %}" alt="">
	</div>
	<div class="container content_above">
		<div class="row">
			<div class="col-md-12">
				<div class="about_hero_contents">
					<h1 class="display-4">Chào mừng bạn tới
						<span>WebOffline</span>
					</h1>
					<p class="display-4">Công cụ giúp download các Website</p>
					<div class="about_hero_btns">
						<a href="{% url 'item_register' %}" class="btn btn-light btn--lg">Free Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="about_mission">

	<div class="content_block1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-5 col-lg-6">
					<div class="content_area m-bottom-md">
						<h1 class="content_area--title">Giới thiệu về
							<span class="highlight">WebOffline</span>
						</h1>
						<p>
							WebOffline là một công cụ giúp download các website, template để xem offline một cách nhanh chóng.
							<br>
							Miễn phí sử dụng với 10MB. 
							<br>
							Phù hợp các khách hàng có nhu cầu đặc biệt là các Web Developer.
						</p>
					</div>
				</div><!-- end .col-md-5 -->
				<div class="col-xl-6 offset-xl-1 col-lg-6">
					<img src="{% static "img/ab1.jpg" %}" alt="" class="img-fluid">
				</div>
			</div><!-- end .row -->
		</div><!-- end .container -->
	</div><!-- ends: .content_block1 -->

</section>
{% endblock main %}