{% load static %}
<footer class="footer-area footer--light">
<div class="footer-big">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget">
					<div class="widget-about">
						<img alt="" class="img-fluid" src="{% static "img/logo.png" %}"/>
						<p>
							WebOffline là một công cụ web giúp download các trang website hoặc template để xem offline.

							Miễn phí download với 10MB
						</p>
						<ul class="contact-details">
							<li>
								<span class="icon-earphones">
								</span>
								Call Us:
								<a href="tel:344-755-111">
									039 575 736
								</a>
							</li>
							<li>
								<span class="icon-envelope-open">
								</span>
								<a href="mailto:trungbat.pv@gmail.com">
									trungbat.pv@gmail.com
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget">
					<div class="footer-menu">
						<h5 class="footer-widget-title">
							Our Company
						</h5>
						<ul>
							<li>
								<a href="{% url "home" %}">
									Home
								</a>
							</li>
							<li>
								<a href="{% url "pricing" %}">
									Pricing
								</a>
							</li>
							<li>
								<a href="{% url "item_register" %}}">
									Free Download
								</a>
							</li>
							<li>
								<a href="{% url "contact" %}">
									Contact
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="mini-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="copyright-text">
						<p>
							© 2019
							<a href="#">
								WebOffline
							</a>
						</p>
					</div>
					<div class="go_top">
						<span class="icon-arrow-up">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>