{% extends "base.html" %}

{% load static %}

{% block title %}
{{ block.super }} {{ item.url }}
{% endblock title %}

{% block main %}
<section class="dashboard-area" style="padding-top: 10px; padding-bottom: 10px">
	<div class="dashboard_contents dashboard_statement_area section--padding" style="padding-top: 0; padding-bottom: 150px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<aside class="sidebar sidebar--blog" style="display: block;">

						<div class="information_module">
							<input type="text" value="{{ item.url }}" class="text_field">
						</div>
						
						<div class="dashboard_module recent_sells">
							<div class="dashboard__title">
								<h4>
									Files
								</h4>
								<div class="loading">
									<a href="{% url 'site_refresh' item.slug %}">
										Refresh
										<span class="lnr icon-refresh">
										</span>
									</a>
								</div>
							</div>
							<div class="item-info">
								
								<div class="item-navigation">
									<ul class="nav nav-tabs" role="tablist">
										<li>
											<a href="" class="active">
												All
											</a>
										</li>
										<li>
											<a href="" class="">
												<i class="fa fa-html5"></i>
												HTML
											</a>
										</li>
										<li>
											<a href="" class="">
												<i class="fa fa-css3"></i>
												CSS
											</a>
										</li>
										<li>
											<a href="" class="">
												<i class="fa fa-jsfiddle" aria-hidden="true"></i>
												JS
											</a>
										</li>
									</ul>
								</div>
								<div class="tab-content">
									<div class="file-tree" style="overflow: auto; font-size: 87%; height: 50vh">
										{% if tree_html %}
											{{ tree_html|safe }}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-lg-9 col-md-12">
					<textarea class="statement_info_card" style="overflow-y: scroll; padding: 0 10px; margin-bottom: 5px; font-size: 87%; height: 37vh;">{% if index %}{{ index.content }}{% endif %}</textarea>

					<div class="text-center">
            {% comment %}
            <a class="btn btn-sm btn-danger m-right-15" href="{% url 'stop_download' 344 %}">
              <i class="fa fa-stop"></i>
              STOP
            </a>
            {% endcomment %}
						{% if index %}
							<a class="btn btn-sm btn-info" href="{% url 'site_preview' index.path %}" target="_blank">
								Preview
							</a>
						{% else %}
							<a class="btn btn-sm btn-info" href="" target="_blank">
								Preview
							</a>
						{% endif %}
					</div>
					{% if index %}
					<iframe class="statement_info_card" style="overflow-y: scroll; margin: 5px 0px; height: 37vh" src="{% url 'site_preview' index.path %}">
					</iframe>
					{% else %}
					<iframe class="statement_info_card" style="overflow-y: scroll; margin: 5px 0px; height: 37vh" src="">
					</iframe>
					{% endif %}
					<div class="text-center">
						<a class="btn btn-lg btn-success" href="{% url 'download_file' item.slug %}">
							<i class="fa fa-download" aria-hidden="true"></i>
							Download Files
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock main %}
