<ul>
	<li class="is-folder">
		<span>assets</span>
		<ul>
			<li class="is-folder">
				<span>css</span>
				<ul>
					<li class="is-file">
						<span>app.min.css</span>
					</li>
					<li class="is-file">
						<span>custom.css</span>
					</li>
				</ul>
			</li>
			<li class="is-folder"><span>fonts</span></li>
			<li class="is-folder"><span>img</span></li>
			<li class="is-folder">
				<span>js</span>
				<ul>
					<li class="is-file"><span>app.min.js</span></li>
					<li class="is-file"><span>custom.js</span></li>
				</ul>
			</li>
			<li class="is-folder"><span>vendors</span></li>
		</ul>
	</li>
	<li class="is-file"><span>starter.html</span></li>
</ul>